@import '../../variables.scss';
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: $panel-bg-color;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    .logo {
        border-top-right-radius: 8px;
        margin: 0 !important;
        background-color: #fff;
        height: 64px;
        width: 64px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
    }
}
