@import '../../../variables.scss';

.card {
    background-color: $panel-bg-color;
    border-radius: 4px;
    min-width: 275px;
    max-width: 300px;
    overflow: hidden;
    color: $font-color-default;
    box-sizing: border-box;

    .card-header {
        .push-away {
            .id {
                font-size: 1.4rem;
                font-weight: 500;
            }
            .id::before {
                content: "#";
                font-weight: 500;
            }
            .btn {
                margin: 0;
            }
        }
        .title {
            font-size: 1.6rem;
            font-weight: 500;
            text-transform: uppercase;
        }
    }

    .description {
        text-align: justify;
        font-size: 1.4rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }

    .progress-bar-container {
        div {
            width: 100%;
            height: 5px;
            background-color: greenyellow;
        }
    }

    .controls {
        .control {
            display: inline-flex;
            align-items: center;
            margin-right: 8px;
            .count {
                font-size: 1.2rem ;
            }
        }
        .control:first-child {
            margin-left: -8px;
        }
    }
}