$font-default: 10px;
$font-md: 14px;
$font-lg: 18px;
$font-xl: 22px;

/*light theme*/
$bg-light: #ffffff;

$default-light: #e0e0e0;
$primary-light: #1976d2;
$secondary-light: #dc004e;
$disabled-light: #a8a8af;

$font-color-default-light: rgba(0, 0, 0, 0.87);
$font-color-disabled-light: #a8a8af;
$font-color-primary-light: #ffffff;

/*dark theme*/
$bg-dark: #212121;

$default-dark: #e0e0e0;
$primary-dark: #90caf9;
$secondary-dark: #f48fb1;
$disabled-dark: #3c3c3c;

$font-color-default: #ffffff;
$font-color-disabled: #a8a8af;
$font-color-primary: #ffffff;