$font-default: 10px;
$font-md: 14px;
$font-lg: 18px;
$font-xl: 22px;

$bg-dark: #212121;
$panel-bg-color: #424242;
$default: #e0e0e0;
$primary: #1976d2;
$secondary: #dc004e;
$disabled: #3c3c3c;
$undefined: #2196f3;
$pending: #ff9800;
$success: #4caf50;
$error: #f44336;

$font-color-default: #ffffff;
$font-color-disabled: #a8a8af;
$font-color-primary: #ffffff;

$separator-color: #6f6f6f;